<div>
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Companies</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <a [routerLink]="['/company/add']" routerLinkActive="active">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle pr-2"></i></li>
                            <li>Add New Company</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Company Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card-body">
                                    <table id="tblCompany" class="table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Company Name</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let comp of companyService.companies; let i = index;">
                                                <td><img src={{comp.logo}} alt="" id="imgLogo" height="50px"
                                                        width="50px"></td>
                                                <td>{{ comp.name }}</td>
                                                <td>
                                                    <a routerLinkActive="active" [routerLink]="[]"
                                                        (click)="onEdit(comp._id,comp)"><i
                                                            class="nav-icon fas fa-edit"></i></a>
                                                </td>
                                                <td><a routerLinkActive="active" [routerLink]="[]"
                                                        (click)="onDelete(comp._id)"><i
                                                            class="nav-icon fas fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Logo</th>
                                                <th>Company Name</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>