<div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/contactinfo']" routerLinkActive="active">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">

                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <!--ur contents here-->
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Contact Information</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form #contactForm="ngForm" name="contactForm">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="hidden" name="_id"
                                                            [(ngModel)]="this.contactInfo._id">
                                                        <label for="exampleInputEmail1">Enter Email<label
                                                                class="red-text">*</label>
                                                        </label>
                                                        <input type="email" name="email" class="form-control"
                                                            id="exampleInputEmail1" placeholder="Enter email"
                                                            [(ngModel)]="this.contactInfo.email" required
                                                            #exampleInputEmail1="ngModel"
                                                            [ngClass]="{'valid-fail': exampleInputEmail1.invalid && (exampleInputEmail1.errors.pattern || exampleInputEmail1.errors.required) && isCheckValid }"
                                                            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="phoneNumber">Enter Phone Number<label
                                                                class="red-text">*</label>
                                                        </label>
                                                        <input type="text" name="phoneNo" class="form-control"
                                                            id="phoneNo" placeholder="Enter Phone Number"
                                                            [(ngModel)]="this.contactInfo.phoneNo" required
                                                            #phoneNo="ngModel"
                                                            [ngClass]="{'valid-fail': phoneNo.invalid &&
                                                        (phoneNo.errors.pattern || phoneNo.errors.required) && isCheckValid }"
                                                            pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6,7,8,9]\d{9}$"
                                                            minlength="10" maxlength="12">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label for="address">Enter Address<label class="red-text">*</label>
                                                </label>
                                                <textarea required class="form-control" rows="4" id="address"
                                                    name="address" placeholder="Enter Address"
                                                    [(ngModel)]="this.contactInfo.address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="input-group col-12">
                                            <div class="col-sm-6"><button type="submit" [disabled]="!contactForm.valid"
                                                    (click)="onSubmit(contactForm)"
                                                    class="btn btn-primary float-right col-md-2">Submit</button>
                                            </div>
                                            <div class="col-sm-6"><button type="reset" (click)="resetForm(contactForm)"
                                                    class="btn btn-default col-md-2">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>


                        </div>
                        <!-- /.card -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </section>
</div>