<div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/faculty']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i> </li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- your contents here -->
                            <!-- form start -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add New Faculty</h3>
                                </div>
                                <form role="form" #facultyForm="ngForm">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <!-- Name Controls -->
                                            <div class="form-group">
                                                <div class="input-group col-12">
                                                    <input type="hidden" name="_id" [(ngModel)]="this.faculty._id">
                                                    <div class="col-md-1">
                                                        <label for="ddlprefix">Prefix</label>
                                                        <select class="form-control select2"
                                                            [(ngModel)]="this.faculty.prefix" style="width: 100%;"
                                                            id="ddlprefix" name="prefix" required>
                                                            <option selected="selected" disabled>Choose Prefix</option>
                                                            <option value="Mr">Mr</option>
                                                            <option value="Ms">Ms</option>
                                                            <option value="Mrs">Mrs</option>
                                                            <option value="Dr">Dr</option>
                                                            <option value="Prof">Prof</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="fname">First Name</label>
                                                        <input type="text" class="form-control" id="fname"
                                                            [(ngModel)]="this.faculty.firstName" name="firstName"
                                                            onkeypress="return ValidateAlpha(event)"
                                                            placeholder="First Name" required>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="lname">Middle Name</label>
                                                        <input type="text" class="form-control" id="lname"
                                                            [(ngModel)]="this.faculty.lastName" name="lastName"
                                                            onkeypress="return ValidateAlpha(event)"
                                                            placeholder="Last Name" required>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="surname">Surname</label>
                                                        <input type="text" class="form-control" id="surname"
                                                            [(ngModel)]="this.faculty.surname" name="surname"
                                                            onkeypress="return ValidateAlpha(event)"
                                                            placeholder="Surname" required>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="dateofjoining">Date Of Joining</label>
                                                        <div class="input-group date" id="dateofjoining"
                                                            data-target-input="nearest">
                                                            <div class="input-group-append" data-target="#dateofjoining"
                                                                data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i
                                                                        class="fa fa-calendar-alt"></i></div>
                                                            </div>
                                                            <input type="text" class="form-control datetimepicker-input"
                                                                data-target="#dateofjoining"
                                                                [(ngModel)]="this.faculty.doj" name="dob"
                                                                placeholder="dd/mm/yyyy"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group col-12">
                                                    <div class="col-md-2">
                                                        <label for="ddldesgn">Designation</label>
                                                        <select class="form-control select2" name="designation"
                                                            [(ngModel)]="this.faculty.designation"
                                                            id="ddldesgn" required>
                                                            <option selected="selected" disabled>Choose Designation
                                                            </option>
                                                            <option value="Professor">Professor</option>
                                                            <option value="HOD">HOD</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="qual">Qualification</label>
                                                        <input type="text" class="form-control" id="qual"
                                                            [(ngModel)]="this.faculty.qualification"
                                                            name="qualification" placeholder="M.E." required>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="exp">Total Experience</label>
                                                        <input type="text" class="form-control" id="exp"
                                                            name="experience" [(ngModel)]="this.faculty.experience"
                                                            placeholder="2 Years" required>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label for="exp">Area Of Interest</label>
                                                        <input type="text" class="form-control" id="exp"
                                                            [(ngModel)]="this.faculty.areaOfInterest"
                                                            name="areaOfInterest" placeholder="AI And ML" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group col-12">
                                                    <div class="col-md-2">
                                                        <label for="ddlgender">Gender</label>
                                                        <select class="form-control select2"
                                                            [(ngModel)]="this.faculty.gender" name="gender"
                                                            id="ddlgender" required>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Other" selected="selected">Other</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="dateofbirth">Date Of Birth</label>
                                                        <div class="input-group date" id="dateofbirth"
                                                            data-target-input="nearest">
                                                            <div class="input-group-append" data-target="#dateofbirth"
                                                                data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i
                                                                        class="fa fa-calendar-alt"></i></div>
                                                            </div>
                                                            <input type="text" class="form-control datetimepicker-input"
                                                                data-target="#dateofbirth"
                                                                [(ngModel)]="this.faculty.dob" name="dob"
                                                                placeholder="dd/mm/yyyy"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="maritialstatus">Maritial Status</label>
                                                        <select class="form-control select2" name="maritialStatus"
                                                            [(ngModel)]="this.faculty.maritialStatus"
                                                            id="maritialstatus" required>
                                                            <option value="Married">Married</option>
                                                            <option value="Unmarried">Unmarried</option>
                                                            <option value="Other" selected="selected">Other</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="department">Department</label>
                                                        <select class="form-control select2" name="deptCode"
                                                            [(ngModel)]="this.faculty.deptCode" id="department"
                                                            required>
                                                            <option selected="selected" disabled>Select Department
                                                            </option>
                                                            <option value="7">Computer</option>
                                                            <option value="11">Civil</option>
                                                            <option value="12">Electrical</option>
                                                            <option value="14">Mechanical</option>
                                                            <option value="15">Electronics & Communication</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="email">Email Address</label>
                                                        <input type="email" class="form-control" id="email"
                                                            [(ngModel)]="this.faculty.email" name="email"
                                                            placeholder="abc@gmail.com" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group col-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div>
                                                                <label for="contact1">Contact No</label>
                                                                <input type="tel" class="form-control" id="contact1"
                                                                    onkeypress="return onlyNumbers(event)"
                                                                    [(ngModel)]="this.faculty.contactNo" minlength='10'
                                                                    maxlength="10" placeholder="Contact No"
                                                                    name="contactNo" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label for="contact2">Phone No</label>
                                                                <input type="tel" class="form-control" id="contact2"
                                                                    onkeypress="return onlyNumbers(event)"
                                                                    name="phoneNo" [(ngModel)]="this.faculty.phoneNo"
                                                                    minlength='10' maxlength="10" placeholder="Phone No"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="address">Address</label>
                                                        <textarea type="text" class="form-control" id="address" rows="5"
                                                            [(ngModel)]="this.faculty.address" name="address"
                                                            placeholder="24, Sardar Society, Gotri, Vadodara - 380061"
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <div class="input-group col-12">
                                            <div class="col-sm-6"><button type="submit"
                                                    [disabled]="!facultyForm.form.valid" (click)="onSubmit(facultyForm)"
                                                    class="btn btn-primary float-right col-md-2">Submit</button>
                                            </div>
                                            <div class="col-sm-6"><button type="clear" (click)="resetForm(facultyForm)"
                                                    class="btn btn-default col-md-2">Cancel</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>