<div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/attachments']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Attachments Detail</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #attachmentsForm="ngForm" name="attachmentsForm">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="_id" [(ngModel)]="this.attachments._id">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Enter File Name</label><label class="red-text">*</label>
                                        <input required type="text" class="form-control" id="name"
                                            placeholder="Enter File Name" name="name"
                                            [(ngModel)]="this.attachments.name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Choose Attachment</label><label
                                            class="red-text">*</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    (change)="onUploadChange($event)" accept=".pdf" id="file">
                                                <label class="custom-file-label"
                                                    for="exampleInputFile">{{fileLabel}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" [disabled]="!attachmentsForm.valid"
                                        (click)="onSubmit(attachmentsForm)"
                                        class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><button type="reset" (click)="resetForm(attachmentsForm)"
                                        class="btn btn-default col-md-2">Cancel</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>