<div>
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/department']" routerLinkActive="active">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li style="margin-left: px;">Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new departments</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Branch Code</label>
                                        <select class="form-control">
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Enter Name Of Department</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            placeholder="Enter name.. ">
                                    </div>
                                </div>


                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Choose Image For Department</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">Choose
                                                    file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label>Add Description</label>
                                    </div>
                                    <div class="input-group">
                                        <textarea class="textarea p-0" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd;"></textarea>
                                    </div>          
                                </div>
                            </div>
                            
                            </div>
                            <!--end of editor-->
                        
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><a [routerLink]="['/department']" routerLinkActive="active" class="btn btn-default col-md-2">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
