<div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/department']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new departments</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #departmentForm="ngForm" name="departmentForm">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="form-group row justify-content-center">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!-- select -->
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="name">Enter Department Code<label
                                                            class="red-text">*</label></label>
                                                    <input required type="text" class="form-control" id="code"
                                                        placeholder="Enter code" name="code"
                                                        [(ngModel)]="this.department.code"
                                                        onkeypress="return onlyNumbers(e)" minlength="2" maxlength="2">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Enter Department Name<label
                                                        class="red-text">*</label></label>
                                                <input required type="text" class="form-control" id="name"
                                                    placeholder="Enter name.. " name="name"
                                                    [(ngModel)]="this.department.name"
                                                    (ngModelChange)="this.department.name=$event.toUpperCase()"
                                                    onkeypress="return ValidateAlpha(event)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="ShortName">Enter Acronym<label
                                                        class="red-text">*</label></label>
                                                <input required type="text" class="form-control" id="ShortName"
                                                    placeholder="Enter ShortName.. " name="ShortName"
                                                    [(ngModel)]="this.department.ShortName"
                                                    (ngModelChange)="this.department.ShortName=$event.toUpperCase()"
                                                    onkeypress="return ValidateAlpha(event)">
                                            </div>
                                        </div>
                                      
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="exampleInputFile">Choose Image<label
                                                        class="red-text">*</label></label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image"
                                                            (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg"
                                                            id="image" name="image" required>
                                                        <label class="custom-file-label"
                                                            for="exampleInputFile">{{fileLabel}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="exampleInputFile">Choose Cover Photo<label
                                                        class="red-text">*</label></label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="coverPhoto"
                                                            (change)="onUploadChange2($event)" accept=".png, .jpg, .jpeg"
                                                            id="coverPhoto" name="coverPhoto" required>
                                                        <label class="custom-file-label"
                                                            for="exampleInputFile">{{fileLabel2}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- select -->
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="name">Enter Students Intake<label
                                                            class="red-text">*</label></label>
                                                    <input required type="text" class="form-control" id="Intake"
                                                        placeholder="Enter Intake" name="Intake"
                                                        [(ngModel)]="this.department.Intake"
                                                        onkeypress="return onlyNumbers(e)" minlength="2" maxlength="2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- select -->
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="name">Enter Total Subjects<label
                                                            class="red-text">*</label></label>
                                                    <input required type="text" class="form-control" id="TotalSubject"
                                                        placeholder="Enter Total Subject" name="TotalSubject"
                                                        [(ngModel)]="this.department.TotalSubject"
                                                        onkeypress="return onlyNumbers(e)" minlength="2" maxlength="2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="col-12">
                                                    <label for="about">Add Department Details<label
                                                            class="red-text">*</label></label>
                                                </div>

                                                <div class="col-12">
                                                    <textarea id="about" class="textarea form-control"
                                                        placeholder="Place some text here" name="about"
                                                        style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                                                        required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end of editor-->

                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div class="input-group col-12">
                                        <div class="col-sm-6"><button type="submit" [disabled]="!departmentForm.valid"
                                                (click)="onSubmit(departmentForm)"
                                                class="btn btn-primary float-right col-md-2">Submit</button></div>
                                        <div class="col-sm-6"><button type="reset" (click)="resetForm(departmentForm)"
                                                class="btn btn-default col-md-2">Cancel</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>