<div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/student-section']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new details</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #ssForm="ngForm" name="ssForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" name="_id" [(ngModel)]="this.ss._id">
                                        <label for="exampleInputEmail1">Enter Title<label
                                            class="red-text">*</label></label>
                                        <input type="text" class="form-control" name="ss_title" [(ngModel)]="this.ss.ss_title" required placeholder="Enter title.. ">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Choose Attachment<label
                                            class="red-text">*</label></label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" (change)="onUploadChange($event)" id="file" accept=".pdf" required>
                                                <label class="custom-file-label" for="exampleInputFile">{{fileLabel}}</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--end of editor-->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" (click)="onSubmit(ssForm)" [disabled]="!ssForm.valid" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><button type="reset" (click)="resetForm(ssForm)" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>