<div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/subjects']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New Subject</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #subjectForm="ngForm" name="subjectForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="hidden" name="_id" [(ngModel)]="this.subject._id" />
                                        <label for="exampleInputEmail1">Enter Subject Code
                                        <label class="red-text">*</label>
                                        </label>
                                        <input required title="Only six digit number" minlength="6" maxlength="6" onkeypress="return onlyNumbers(event)" type="text" name="code" [(ngModel)]="this.subject.code" class="form-control" id="code" placeholder="Enter six digit code.. " />



                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Select Semester <label class="red-text">*</label></label>
                                        <select required class="form-control" name="semester" [(ngModel)]="this.subject.semester">
                                         <option [ngValue]="null" selected disabled>Select Semester</option> 
                                           
                                            <option value="1"> 1</option>
                                            <option value="2"> 2</option>
                                            <option value="3"> 3</option>
                                            <option value="4"> 4</option>
                                            <option value="5"> 5</option>
                                            <option value="6"> 6</option>
                                            <option value="7"> 7</option>
                                            <option value="8"> 8</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Select Department <label class="red-text">*</label></label>
                                        <select required class="form-control" name="deptName" [(ngModel)]="this.subject.deptName">
                                             <option [ngValue]="null" disabled selected >Select Department</option> 
                                            
                                            <option value="1"> ELECTRONIC AND COMMUNICATION</option>
                                            <option value="2"> COMPUTER</option>
                                            <option value="3"> ELECTRICAL</option>
                                            <option value="4"> CIVIL</option>
                                            <option value="5"> MECHANICAL</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Enter Name Of The Subject <label class="red-text">*</label></label>
                                        <input required title="only Uppercase" type="text" onkeypress="return ValidateAlpha(event)" name="name" [(ngModel)]="this.subject.name" (ngModelChange)="this.subject.name=$event.toUpperCase()" class="form-control" id="subjectName" placeholder="Enter name.. "
                                        />


                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Enter Acronym For The Subject <label class="red-text">*</label></label>
                                        <input required title="Only Character" type="text" onkeypress="return ValidateAlpha(event)" name="knownAs" [(ngModel)]="this.subject.knownAs" (ngModelChange)="this.subject.knownAs=$event.toUpperCase()" class="form-control" id="subjectAcronym" placeholder="Enter name.. "
                                        />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary float-right col-md-2" [disabled]="!subjectForm.valid" (click)="onSubmit(subjectForm)">Submit</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="reset" (click)="resetForm(subjectForm)" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>