<div>
    <div class="content">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h2 class="m-0 text-dark">Women Cell Attachments Details</h2>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <a [routerLink]="['/womencell/add-attachments']">
                            <ol class="breadcrumb float-sm-right">
                                <li><i class="nav-icon fas fa-plus-circle pr-2"></i></li>
                                <li>Add New Details</li>
                            </ol>
                        </a>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
    </div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Women Cell Lists</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="tblWomenAttach" class="table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Attachment</th>
                                                <th>Title</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let wca of womenattachService.womenattachs;">
                                                <td>{{ wca.wca_title }}</td>
                                                
                                                <td>{{wca.wca_fileName}}</td>
                                              
                                                <td>
                                                    <a routerLinkActive="active" [routerLink]="[]" (click)="onView(wca._id,wca)"
                                                        ><i
                                                            class="nav-icon fas fa-eye"></i></a>
                                                </td>
                                                <td>
                                                    <a routerLinkActive="active" [routerLink]="[]"
                                                        (click)="onEdit(wca._id,wca)"><i
                                                            class="nav-icon fas fa-edit"></i></a>
                                                </td>
                                                <td><a routerLinkActive="active" [routerLink]="[]"
                                                        (click)="onDelete(wca._id)"><i
                                                            class="nav-icon fas fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
        
                                                <th>Attachment</th>
                                                <th>Title</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
        
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>