<div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h2 class="m-0 text-dark">Add Placement Cell Attachments Details</h2>
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <a [routerLink]="['/placementcell/view-attachment']">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                            <li>Back</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12">
                    <!--ur contents here-->
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" #attachmentForm="ngForm">
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="col-6">
                                        <label for="Name"> Enter Title</label>
                                        <input type="text" class="form-control" [(ngModel)]="this.attachment.name"
                                            name="name" id="Name" placeholder="Enter Title">
                                    </div>
                                    <div class="col-6">
                                        <label for="exampleInputFile">Upload Attachment File</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    (change)="onUploadChange($event)" accept=".pdf" id="file">
                                                <label class="custom-file-label"
                                                    for="exampleInputFile">{{this.fileLabel}}</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="input-group col-12">
                                    <div class="col-sm-6"><button type="submit" [disabled]="!attachmentForm.form.valid"
                                            (click)="onSubmit(attachmentForm)"
                                            class="btn btn-primary float-right col-md-2">Submit</button></div>
                                    <div class="col-sm-6"><button type="reset" (click)="resetForm(attachmentForm)"
                                            class="btn btn-default col-md-2">Cancel</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>