<div class="table-responsive">
    <table id="dataTableExample1" class="table table-bordered table-striped table-hover dataTable no-footer">
        <thead>
            <tr>
                <th *ngFor="let col of Columns" (click)="Sort(col.sortableFieldName,1)"
                    [ngClass]="{'sorting': !SortBy||SortBy && col.sortableFieldName!=SortBy,'sorting_asc': SortBy && Direction==1 && col.sortableFieldName==SortBy,'sorting_desc': SortBy && Direction==-1 && col.sortableFieldName==SortBy, 'hidden':col.visible==false   }">
                    <span *ngIf="col.colDisplayName">{{col.colDisplayName}}</span>
                    <span *ngIf="!col.colDisplayName">{{col.colName}}</span>
                </th>
                <th [hidden]="!AllowDelete" *ngIf="DeleteAllow || EditAllow">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of Data; let i = index;">
                <td *ngFor="let col of Columns" [ngClass]="{'hidden':col.visible==false}">{{c[col.colName]}}</td>
                <td *ngIf="DeleteAllow || EditAllow || IsDownload">
                    <a class="autoGridCursorPointer" [hidden]="!AllowDelete" (click)="OnDeleteRow(c,i)"><span
                            class="fa fa-remove"></span></a>
                    <span *ngIf="EditAllow">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="autoGridCursorPointer" (click)="OnEditRow(c)" *ngIf="EditAllow"><span
                            class="fa fa-edit"></span></a>
                    <span *ngIf="IsDownload">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="autoGridCursorPointer" (click)="OnDownloadFile(c)" *ngIf="IsDownload"><span
                            class="fa fa-download"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-12">
    <div class="pull-left">
        <div class="dataTables_paginate paging_simple_numbers" id="example_length">
            Show <select name="example_length" [(ngModel)]="PageSize" (change)="ngOnPagesizeChanged(PageSize)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select> rows
        </div>
    </div>
    <div class="pull-right">
        <div class="dataTables_info pull-right" *ngIf="PaginationPages.length>0">
            Showing <b>{{TotalRows}}</b> rows of page <b>{{PageIndex}}</b>
        </div>
        <div class="dataTables_info pull-right" *ngIf="PaginationPages.length<=0">
            Showing <b>{{TotalRows}}</b> rows.
        </div>
    </div>
</div>

<div class="col-sm-12 text-center text-sm-left text-md-left">
    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination  justify-content-center">
            <li [ngClass]="{'active': PageIndex-1==i}" *ngIf="PaginationPages.length>4" class="paginate_button">
                <a href="javascript:void(0)" *ngIf="PageIndex<=1" class="disabled"><i
                        class="fa fa-angle-double-left"></i></a>
                <a href="javascript:void(0)" *ngIf="PageIndex>1" (click)="OnPageIndexChange(1)"><i
                        class="fa fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{'active': PageIndex-1==i}" *ngIf="PaginationPages.length>4" class="paginate_button">
                <a href="javascript:void(0)" *ngIf="PageIndex<=1" class="disabled"><i class="fa fa-angle-left"></i></a>
                <a href="javascript:void(0)" *ngIf="PageIndex>1" (click)="OnPageIndexChange(PageIndex-1)"><i
                        class="fa fa-angle-left"></i></a>
            </li>
            <li *ngIf="PageIndex > 4 && PageIndex + 1 > PaginationPages.length">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex - 4)">{{PageIndex-4}}</a>
            </li>
            <li *ngIf="PageIndex > 3 && PageIndex + 2 > PaginationPages.length">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex - 3)">{{PageIndex-3}}</a>
            </li>
            <li *ngIf="PageIndex > 2">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex - 2)">{{PageIndex-2}}</a>
            </li>
            <li *ngIf="PageIndex > 1">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex - 1)">{{PageIndex-1}}</a>
            </li>
            <li class="active" *ngIf="PaginationPages.length>0">
                <a href="javascript:void(0)">{{PageIndex}}</a>
            </li>
            <li *ngIf="PageIndex + 1 <= PaginationPages.length">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex + 1)">{{PageIndex+1}}</a>
            </li>
            <li *ngIf="PageIndex + 2 <= PaginationPages.length">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex + 2)">{{PageIndex+2}}</a>
            </li>
            <li *ngIf="PageIndex + 3 <= PaginationPages.length && PageIndex < 3">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex + 3)">{{PageIndex+3}}</a>
            </li>
            <li *ngIf="PageIndex + 4 <= PaginationPages.length && PageIndex < 2">
                <a href="javascript:void(0)" (click)="OnPageIndexChange(PageIndex +4)">{{PageIndex+4}}</a>
            </li>
            <li [ngClass]="{'active': PageIndex-1==i}" *ngIf="PaginationPages.length>4" class="paginate_button">
                <a href="javascript:void(0)" *ngIf="PageIndex>=PaginationPages.length" class="disabled"><i
                        class="fa fa-angle-right"></i></a>
                <a href="javascript:void(0)" *ngIf="PageIndex<PaginationPages.length"
                    (click)="OnPageIndexChange(PageIndex+1)"><i class="fa fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{'active': PageIndex-1==i}" *ngIf="PaginationPages.length>4" class="paginate_button">
                <a href="javascript:void(0)" *ngIf="PageIndex>=PaginationPages.length" class="disabled"><i
                        class="fa fa-angle-double-right"></i></a>
                <a href="javascript:void(0)" *ngIf="PageIndex<PaginationPages.length"
                    (click)="OnPageIndexChange(PaginationPages.length)"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>