<div>


    <!-- Main content -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/womencell']">
                    <ol class="breadcrumb float-sm-right">
                        <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li>Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-12">
                            <!--ur contents here-->
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Women Cell Details</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form #womendetailForm="ngForm" name="womendetailForm">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="input-group col-12">
                                                <div class="card-body pad">
                                                    <div class="input-group">
                                                        <div class="col-12">
                                                            <input type="hidden" name="_id" [(ngModel)]="this.womendetail._id">
                                                            <label for="companyDetails">Add Women Cell Detail Details Below<label
                                                                    class="red-text">*</label></label>
                                                        </div>

                                                        <div class="col-12">
                                                            <textarea id="txtDescription" class="textarea form-control" placeholder="Place some text here" name="women_description" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="input-group col-12">
                                            <div class="col-sm-6"><button type="submit" (click)="onSubmit(womendetailForm)" class="btn btn-primary float-right col-md-2">Submit</button>
                                            </div>
                                            <div class="col-sm-6"><button type="reset" (click)="resetForm(womendetailForm)" class="btn btn-default col-md-2">Clear</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>