<div>
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['/events']" routerLinkActive="active">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
                        <li style="margin-left: px;">Back</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Imges to Gallery</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #galleryForm="ngForm" name="galleryForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <div class="form-group">
                                        
                                        <input type="hidden"  name="_id"  [(ngModel)]="this.gallery._id"/>
                                        <label>Select Category <label class="red-text">*</label></label>
                                        <select required class="form-control" name="title" [(ngModel)]="this.gallery.title">
                                            <option [ngValue]="null" selected disabled>Select Category</option>
                                            <option>Annual</option>
                                            <option>Awards</option>
                                            <option>Days Celebration</option>
                                            <option>Plantation</option>
                                            <option>Fest</option>
                                            <option>Tech Fest</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Choose Image<label
                                            class="red-text">*</label></label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input required type="file" class="custom-file-input" name="image" id="eventImg" multiple=""  (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    {{eventLabel}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" (click)="onSubmit(galleryForm)"
                                        class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><button type="reset" (click)="resetForm(galleryForm)"
                                        class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>