<div>
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Placement Cell </h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a [routerLink]="['/placementcell/add']">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle pr-2"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Placement Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card-body">
                                    <table id="tblPlacement" class="table table-bordered table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th>Company Name</th>
                                                <th>Department</th>
                                                <th>Students Taken
                                                </th>
                                                <th>Lowest Package
                                                </th>
                                                <th>Highest Package
                                                </th>
                                                <th>Date Of Campus</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of placementService.placementDetails">
                                                <td>{{data.companyId}}</td>
                                                <td>{{data.deptCode}}</td>
                                                <td>{{data.studentsTaken}}</td>
                                                <td>{{data.lowestPkg}}</td>
                                                <td>{{data.highestPkg}}</td>
                                                <td>{{data.dateOfCampus}}</td>
                                                <td>
                                                    <a routerLinkActive="active" [routerLink]="[]"
                                                        (click)="onView(data)"><i class="nav-icon fas fa-eye"></i></a>
                                                </td>
                                                <td>
                                                    <a routerLinkActive="active" [routerLink]="[]" 
                                                    (click)="onEdit(data)"><i class="nav-icon fas fa-edit"></i></a>
                                                </td>
                                                <td><a routerLinkActive="active" [routerLink]="[]"
                                                    (click)="onDelete(data._id)"><i
                                                        class="nav-icon fas fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Company Name</th>
                                                <th>Department</th>
                                                <th>Students Taken
                                                </th>
                                                <th>Lowest Package
                                                </th>
                                                <th>Highest Package
                                                </th>
                                                <th>Date Of Campus</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>