<div>
  <section>
    <div class="row">
      <div class="col-md-12 fixed">
        <a [routerLink]="['/affiliation']" routerLinkActive="active">
          <ol class="breadcrumb float-sm-right">
            <li><i class="nav-icon fas fa-chevron-circle-left pr-2"></i></li>
            <li>Back</li>
          </ol>
        </a>
      </div>
      <div class="col-md-12 form-group">
        <ng2-pdfjs-viewer [pdfSrc]="pdfSrc" [externalWindow]="true" ></ng2-pdfjs-viewer>
        <!--<pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>-->
      </div>
    </div>
  </section>
</div>